<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title th:text="|${user.name}의 채팅방 리스트|"></title>

</head>
<body>
<div th:replace="/fragments/subLogo.html :: fragment-nav"></div>
<div>
    <ul th:each="room:${message}">
        <span th:if="${room.deleted==true}">
            <li><a href="#" th:onclick="window.open('/chat/croom?roomId='+[[${room.roomId}]],'_blank','width=700px,height=800px')">[[${room.user1}]] (탈퇴한 사용자입니다)</a></li>
        </span>
        <span th:unless="${room.deleted==true}">
            <li><a href="#" th:onclick="window.open('/chat/croom?roomId='+[[${room.roomId}]],'_blank','width=700px,height=800px')">[[${room.user1}]]</a></li>
        </span>
    </ul>
    <ul th:each="room:${list}">
        <span th:if="${room.deleted==true}">
            <li><a href="#" th:onclick="window.open('/chat/croom?roomId='+[[${room.roomId}]],'_blank','width=700px,height=800px')">[[${room.user2}]] (탈퇴한 사용자입니다)</a></li>
        </span>
        <span th:unless="${room.deleted==true}">
            <li><a href="#" th:onclick="window.open('/chat/croom?roomId='+[[${room.roomId}]],'_blank','width=700px,height=800px')">[[${room.user2}]]</a></li>
        </span>
    </ul>
</div>
</body>
</html>