<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:inline="javascript">
    $(document).ready(function (){

      var roomName=[[${roomName}]];

      if(roomName!=null)
        //alert(roomName+"방이 개설됨");

      $(".btn-create").on("click",function(e){
        var name=$("input[name='name']").val();

        if(name=="") {alert("name write");}
        else {$("form").submit();}
      });
});

  </script>
</head>
<body>
<div>
    <ul th:each="room:${list}">
        <li><a th:href="@{/chat/room(roomId=${room.roomId})}">[[${room.name}]]</a></li>
    </ul>
</div>
</body>
</html>