<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous">


<style>
    html, body{
	height : 100%;
}

body{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align:center;
	align-items: center;
	padding-top:40px;
	padding-bottom: 40px;
	margin-left:auto;
	margin-right:auto;
}
form{
    margin-left:auto;
	margin-right:auto;
}

.form-signin{
	width:50%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-signin .checkbox{
	font-weight: 400;
}

.form-signin .form-control{
	position: relative;
	box-sizing: border-box;
	height:auto;
	padding:10px;
	font-size:16px;
}

.form-signin .form-control:focus{
	z-index: 2;
}

.form-signin input[id="uid"]{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[id="password"]{
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
}
</style>