{{>layout/header}}
{{>category}}
<head>
    <title>받은 쪽지함 ()</title>

    <style type="text/css">
		img{
			width:30px;
			height: 30px;
		}


		h2{
			margin-top : 50px;
			margin-bottom : 30px;
			}

		table{
			align-self: center;
		}

		.table-responsive{
			margin-bottom: 50px;
		}
		.container{
			position: static;
			left: 10%;
		}
	</style>
</head>
<div class="container">

    <h2>쪽지함</h2>



    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <colgroup>
                <col style="width:auto;" />
                <col style="width:25%;" />
                <col style="width:25%;" />
                <col style="width:15%;" />
            </colgroup>
            <thead>
            <tr>
                <th>보낸 사람</th>
                <th>제목</th>
                <th>날짜</th>
                <th>시간</th>
            </tr>
            </thead>
            <tbody>

            {{^msgList}}
                <tr><td colspan="5" text-align="center">쪽지가 없습니다.</td></tr>
            {{/msgList}}
            {{#msgList}}
                <tr>
                    <td>{{sender}}</td>
                    <td>{{title}}</td>
                    <td>{{sendDate}}</td>
                    <td>{{sendTime}}</td>
                </tr>
            {{/msgList}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}