{{>layout/header}}
{{>category}}

<style>

div #msgDetail{
	border:1px solid gray;
	height: 500px;
	padding : 15px;
}



div #box{

	position : static;
	width: 700px;

	margin-left:auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom : 100px;
}

.msgbtn{
	position: relative;
	left : 430px;
	margin-top: 10px;

}
</style>

<head>
    <title>메시지</title>
</head>

<body>

<div id="box">
    <div id="msgDetail">
        보낸사람 : {{msgDetail.sender}}<br>
        받은 시간  : {{msgDetail.sendDate}} {{msgDetail.sendTime}}<hr>
        <div id="content">
            <br> {{msgDetail.content}}
        </div>

    </div>


    <button type="button" class="msgbtn"><a href="/message/getSendList">쪽지함으로</a></button>

</div>
</body>

{{>layout/msg-footer}}