{{>layout/header}}
{{>category}}
<head>
    <title>보낸 쪽지함</title>

    <style type="text/css">
		img{
			width:30px;
			height: 30px;
		}


		h2{
			margin-top : 50px;
			margin-bottom : 30px;
			font-family: "My Font";
			}



	</style>
</head>
<div class="container">

    <h2>보낸 쪽지함</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <colgroup>
                <col style="width:10%;" />
                <col style="width:25%;" />
                <col style="width:25%;" />
                <col style="width:auto;" />
                <col style="width:10%;" />
            </colgroup>
            <thead>
            <tr>
                <th>받은 사람</th>
                <th>제목</th>
                <th>날짜</th>
                <th>시간</th>
                <th>수신 확인</th>
                <th>발송 취소</th>
            </tr>
            </thead>
            <tbody>
            {{^sendList}}
                <tr><td colspan="6" text-align="center">쪽지가 없습니다.</td></tr>
            {{/sendList}}

            {{#sendList}}
                <tr>
                    <td>{{recipient}}</td>
                    <td><a href="/message/sendView/{{msgNo}}">{{title}}</a></td>
                    <td>{{sendDate}}</td>
                    <td>{{sendTime}}</td>
                    <td>
                        {{#confirmRead}}
                            check
                            <td></td>
                        {{/confirmRead}}
                        {{^confirmRead}}
                            noncheck
                            <td>
                                <input type="hidden" id="msgNo" value="{{msgNo}}">
                                <a href="#" id="deleteMsg">취소</a>
                            </td>
                        {{/confirmRead}}
                    </td>
                </tr>
            {{/sendList}}
            </tbody>
        </table>

    </div>
{{>layout/msg-footer}}