{{>layout/header}}
{{>category}}

<head>
    <style>
/* write note */
#write_note_in {
	width:700px;
	position: static;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	margin-bottom: 100px;

}
#write_form {
	margin-left:30px;
	margin-top:30px;
	font-size:14px;
}
#write_t {
	margin-left: 30px;
	margin-top:90px;
	font-family: "My Font";
	font-size: 25px;
}
.wr_ip input {
	padding: 0 0 0 10px;
	font-size:14px;
	border-radius: 10px;
	border:solid 2px #D8D8D8;
	width: 500px;
	height: 35px;
}
.wr_ip textarea {
	padding: 0 0 0 10px;
	font-size:14px;
	border-radius: 10px;
	border:solid 2px #D8D8D8;
	width: 500px;
	height: 400px;
}
.wr_ip_top {
	margin-top:15px;
}
.wri_bt {
	padding: 10px 20px 10px 20px;
	background: #FFBF00;
	border: 0;
	color:white;
	font-size: 12px;
}
.wri_bt a {
	color:white;
}
.wri_bt:hover {
	background: #DBA901;
}
</style>

    <title>쪽지 쓰기</title>

</head>

<div id="write_note_in">
    <form>
        <div id="write_t">쪽지쓰기</div>
        <div id="write_form">
            <div class="wr_ip"><input type="text" id="recipient" name="recipient" value={{sender.uid}} readonly/></div>
            <div class="wr_ip wr_ip_top"><input type="text" id="title" name="title" placeholder="제목" required/></div>
            <div class="wr_ip wr_ip_top"><textarea id="content" name="content" placeholder="내용" required></textarea></div>

            <button id="btnSubmit" class="wri_bt wr_ip_top">보내기</button>
        </div>
    </form>
</div>

{{>layout/footer}}