<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    function chatPopup(){
        var open = window.open("/chat","판매자에게 연락하기",'width=700px,height=800px');
      }
  </script>
  <script th:inline="javascript">
    $(document).ready(function (){
      $('button#btnBidding').on('click', function (){
        var biddingPrice = $('input#biddingPrice').val();
        if(biddingPrice == "")
          alert('제시할 금액을 입력하세요');
          history.back();
      });

      var roomName=[[${roomName}]];

      if(roomName!=null)
        alert(roomName+"방이 개설됨");

      $(".btn-create").on("click",function(e){
        var name=$("input[name='name']").val();

        if(name=="") {alert("name write");}
        else {$("#chat").submit();}
      });
});

  </script>
</head>
<body>
<h2 th:text="${itemForm.title}"></h2>
<p>작성일 : <span th:text="${itemForm.reg_date}" /> </p>
<p>작성자 : <span th:text="${writer}"/></p>

<p>
  시작가 : <span th:text="${itemForm.starting_bid}"/> <br>
  현재가 : <span th:text="${itemForm.winning_bid}"/>
<div th:if="${itemForm.soldOut}">
  <button type="button">판매완료</button>
</div>
</p>

<div th:if="${user.getUid()==writer} and ${itemForm.soldOut==false}" >
  <form action="/sell" method="post">
    <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
    <button type="submit" id="btnSell">낙찰</button>
  </form>
</div>

<div th:if="!${user.getUid()==writer} and ${itemForm.soldOut==false}">
  <form action="/bidding" method="post">
    <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
    <input type="hidden" name="uid" th:value="${user.uid}"/>
    <input type="text" name="biddingPrice" id="biddingPrice" placeholder="제안할 가격"/>
    <button type="submit" id="btnBidding">제시</button>
  </form>
</div>


<a href="/chat/go">채팅</a>
<!--<div th:if="${user.getUid()!=writer}">
  <button onclick="chatPopup()">채팅하기</button>
</div>-->
<!--<img th:src="@{'/images/'}+${file.fileName}" style="width: 300px; height:auto;">-->
<table>
  <tr th:each="file : ${filesList}">
    <td>
      <img th:src="@{'/images/'}+${file.fileName}" style="width: 300px; height:auto;">
    </td>
  </tr>
</table>
<p th:text="${itemForm.content}"></p>

<!-- 수정/삭제 -->

<div th:if="${user.getUid()==writer}">
  <a th:href="@{'/items/edit/' + ${itemForm.item_no}}">
    <button class="btn btn-outline-warning">수정</button>
  </a>
  <form id="delete-form" th:action="@{'/items/' + ${itemForm.item_no}}" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <button class="btn btn-outline-warning" id="delete-btn">삭제</button>
  </form>
</div>




</body>
</html>