<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <title>자주 묻는 질문</title>
</head>
<body>
<div th:replace="/fragments/subLogo.html :: fragment-nav"></div>
<h2>자주 묻는 질문</h2>
사용자들이 자주 묻는 질문을 확인해보세요.

<ul>
    <li>
        운영정책
        <ul>
            <li>커뮤니티 가이드라인</li>
            <li>옥수수마켓 운영정책</li>
        </ul>
    </li>
    <li>
        계정/인증
        <ul>
            <li>회원정보를 수정하고싶어요</li>
            <li>탈퇴는 어떻게 하나요?</li>
        </ul>
    </li>
    <li>
        구매/판매
        <ul>
            <li>중고거래 게시판 거래 및 환불 정책</li>
            <li>가격제안이 뭐예요?</li>
        </ul>
    </li>
</ul>


<br><br><br>
그래도 해결이 안되신다면
<a href="#">cs@yonamz.com</a> 으로 문의해주세요


</body>
</html>