<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet"> -->


  <title>상세조회</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function (){
      $('button#btnBidding').on('click', function (){
        var biddingPrice = $('input#biddingPrice').val();
        if(biddingPrice == ""){
          alert('제시할 금액을 입력하세요');
          history.back();
          return false;
        }
        var winningBid = $('input#winningBid').val();
        if(biddingPrice<=winningBid){
          alert('현재가보다 높은 금액만 제안할 수 있습니다.');
          return false;
        }
      });

      $('button#btnReport').on('click', function (){
        var check = confirm('이 게시글을 신고하시겠습니까?');
        if(!check){
          history.back();
          return false;
        }
      });

      /*$('#btnSell').on('click', function () {
        $('#btnBidding').attr('disabled', true);
        $('#btnSell').attr('disabled', true);
      });*/
    });

  </script>
</head>
<body>
<h2 th:text="${itemForm.title}"></h2>
<p>작성일 : <span th:text="${itemForm.reg_date}" /> </p>
<p>작성자 : <span th:text="${writer}"/></p>

<p id="deadline_data" data-th-align="${itemForm.deadline}" th:type="hidden"></p>
<div th:id="contentArea"></div>

<p>
시작가 : <span th:text="${itemForm.starting_bid}"/> <br>
현재가 : <span th:text="${itemForm.winning_bid}"/>
<div th:if="${itemForm.soldOut}">
  <button type="button">판매완료</button>
  <div th:if="${user.getUid()==writer}">
  <form action="/sellCancel" method="post">
    <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
    <input type="hidden" name="soldOut" value="false"/>
    <button type="submit" id="btnSellCancel">낙찰 취소</button>
  </form>
  </div>
</div>
</p>

<div th:if="${user.getUid()==writer} and ${itemForm.soldOut==false}" >
  <form action="/sell" method="post">
    <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
    <input type="hidden" name="soldOut" value="true"/>
    <button type="submit" id="btnSell">낙찰</button>
  </form>

</div>

<div th:if="!${user.getUid()==writer} and ${itemForm.soldOut==false}">
  <input type="hidden" id="winningBid" th:value="${itemForm.winning_bid}">
  <form action="/bidding" method="post">
    <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
    <input type="hidden" name="uid" th:value="${user.uid}"/>
    <input type="text" name="biddingPrice" id="biddingPrice" placeholder="제안할 가격"/>
    <button type="submit" id="btnBidding">제시</button>
  </form>
</div>

<!--<img th:src="@{'/images/'}+${file.fileName}" style="width: 300px; height:auto;">-->

  <table>
    <tr th:each="file : ${filesList}">
      <td>
        <img th:src="@{'/images/'}+${file.fileName}" style="width: 300px; height:auto;">
      </td>
    </tr>
  </table>

<p th:text="${itemForm.content}"></p>

<div th:unless="${user.getUid()==writer}">
  <form action="/items/report" method="post">
    <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
    <button type="submit" id="btnReport">신고</button>
  </form>
</div>
<!-- 수정/삭제 -->
<div th:if="${user.getUid()==writer}">
  <a th:href="@{'/items/edit/' + ${itemForm.item_no}}">
    <button class="btn btn-outline-warning">수정</button>
  </a>
  <form id="delete-form" th:action="@{'/items/' + ${itemForm.item_no}}" method="post">
    <input type="hidden" name="_method" value="delete" />
    <button class="btn btn-outline-warning" id="delete-btn">삭제</button>
  </form>
</div>


<!--<script src="/js/app/sell.js"></script>-->

<!--<script type="text/javascript">
        function sell(){
        const btnBidding = document.getElementById('btnBidding');
        const btnSell = document.getElementById('btnSell');
        alert(btnBidding);
        btnBidding.disabled = 'disabled';
        btnSell.disabled = 'disabled';
      }
</script>-->
<script>
  $(document).ready(function () {
    var deadline1 = document.getElementById("deadline_data");
    var deadline = deadline1.getAttribute("align");


    setInterval(function (){

      var end = new Date(deadline);
      end.setHours(0);
      var now = new Date();
      var distance = end - now;

      var _second = 1000;
      var _minute = _second * 60;
      var _hour = _minute * 60;
      var _day = _hour * 24;

      if (distance < 0) {
        clearInterval();
        document.getElementById("contentArea").innerHTML = '마감되었습니다.';
        return;
      }

      var days = Math.floor(distance / _day);
      var hours = Math.floor((distance % _day) / _hour);
      var minutes = Math.floor((distance % _hour) / _minute);
      var seconds = Math.floor((distance % _minute) / _second);

      document.getElementById("contentArea").innerHTML = days + '일 ' + hours + '시간 ' + minutes + '분 ' + seconds + '초';

    },1000);
  })
</script>
</body>
</html>