<!--<button class="btn btn-outline-warning" onclick="return chatPopup();">판매자와 대화하기</button>-->
<!--  <script>
    function chatPopup(){
        window.open('/chat/room?writer=[[${writer}]]&itemNo=[[${itemForm.item_no}]]',"판매자에게 연락하기",'width=700px,height=800px');
      }
  </script>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/fragments/header.html :: fragment-header"></div>
  <title>AUCSUSU MARKET - 물품 상세</title>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    function chatPopup(){
        window.open('/chat/room?writer=[[${writer}]]&itemNo=[[${itemForm.item_no}]]',"판매자에게 연락하기",'width=700px,height=800px');
      }
  </script>

  <script type="text/javascript">
    $(document).ready(function (){
      $('button#btnBidding').on('click', function (){
        var biddingPrice = $('input#biddingPrice').val();
        if(biddingPrice == ""){
          alert('제시할 금액을 입력하세요');
          return false;
        }

        var winningBid = $('input#winningBid').val();
        if(biddingPrice<=winningBid){
          alert('현재가보다 높은 금액만 제안할 수 있습니다.');
          return false;
        }

        var deadline1 = document.getElementById("deadline_data");
        var deadline = deadline1.getAttribute("align");
        var end = new Date(deadline);
        end.setHours(0);
        var now = new Date();
        var distance = end - now;
        if(distance<0){
          alert('마감된 상품에는 제시할 수 없습니다.');
          return false;
        }
      });

      $('button#btnReport').on('click', function (){
        var check = confirm('이 게시글을 신고하시겠습니까?');
        if(!check){
          history.back();
          return false;
        }
      });

      $('button#delete-btn').on('click', function (){
        var check = confirm('삭제하시겠습니까?');
        if(!check){
          return false;
        }
      });

      /*$('#btnSell').on('click', function () {
        $('#btnBidding').attr('disabled', true);
        $('#btnSell').attr('disabled', true);
      });*/
    });

  </script>

  <style>
    .divBottom {
      display: inline-block;
      margin-right:15%;
      margin-bottom:20px;
    }
  </style>
</head>

<body>
<div th:replace="/fragments/subLogo.html :: fragment-nav"></div>
<div class="container">
  <table class="table">
    <tr>
      <td style="font-weight: bold">
        물품 상세
        <span th:if="${itemForm.soldOut}" style="text-align: right">
        <button class="btn btn-outline-warning">판매완료</button>
        </span>
      </td>
    </tr>
    <tr>
      <td rowspan="5">
        <center>
          <img th:src="@{'/images/'}+${itemForm.fileName}" style="width: 220px; height:220px;">
        </center>
      </td>
      <td> 상품명 </td>
      <td th:text="${itemForm.title}"></td>
      <td></td>
    </tr>
    <tr>
      <td> 판매자 </td>
      <span th:unless="${itemForm.isDeleted()}">
      <td><a th:href="@{'/userItemHistory/' + ${writer}}"><span th:text="${writer}"></span></a></td>

        <td th:if="!${user.getUid()==writer}">
          <button class="btn btn-outline-warning" onclick="return chatPopup();">판매자와 대화하기</button>
        </td>
        <td></td>
      </span>
      <span th:if="${itemForm.isDeleted()}">
        <td><span th:text="${writer}"></span></td>
        <td><b>탈퇴한 사용자입니다</b></td>
      </span>

      <!--<td><a th:href="@{'/userItemHistory/' + ${writer}}"><span th:text="${writer}"></span></a></td>
      <td th:if="!${user.getUid()==writer}">
        <button class="btn btn-outline-warning" onclick="return chatPopup();">판매자와 대화하기</button>
      </td>-->
    </tr>
    <tr>
      <td> 시작가 <br> 현재가 </td>
      <td>
        <span th:text="${#numbers.formatInteger(itemForm.starting_bid, 0, 'COMMA')}"></span>
          <br>
          <span th:text="${#numbers.formatInteger(itemForm.winning_bid, 0, 'COMMA')}" style="font-weight: bold"></span>
      </td>
      <td th:if="${user.getUid()==writer} and ${itemForm.soldOut==true}" colspan="2">
        <form action="/sellCancel" method="post">
          <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
          <input type="hidden" name="soldOut" value="false"/>
          <button class="btn btn-outline-warning" type="submit" id="btnSellCancel">낙찰 취소</button>
        </form>
      </td>
      <td th:if="${user.getUid()==writer} and ${itemForm.soldOut==false}">
        <form action="/sell" method="post">
          <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
          <input type="hidden" name="soldOut" value="true"/>
          <button class="btn btn-outline-warning" type="submit" id="btnSell">낙찰</button>
        </form>
      </td>
      <td th:if="!${user.getUid()==writer} and ${itemForm.soldOut==false}">
        <input type="hidden" id="winningBid" th:value="${itemForm.winning_bid}"/>
        <form action="/bidding" method="post">
          <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
          <input type="hidden" name="uid" th:value="${user.uid}"/>
          <input type="text" name="biddingPrice" id="biddingPrice" placeholder="제안할 가격"/>
          <button class="btn btn-outline-warning" type="submit" id="btnBidding">제시</button>
        </form>
      </td>
      <td th:if="!${user.getUid()==writer} and ${itemForm.soldOut==true}">
        <!--아무것도 없음-->
      </td>
    </tr>
    </tr>
    <tr>
      <td> 등록일 </td>
      <td th:colspan="2" th:text="${#dates.format(itemForm.reg_date, 'yyyy-MM-dd')}"></td>
    </tr>
    <tr>
      <td id="deadline_data" data-th-align="${itemForm.deadline}" th:type="hidden"> 마감기한 </td>
      <td th:id="contentArea"></td>
      <td th:text="${itemForm.deadline}"></td>
    </tr>
    <!--<tr th:if="${itemForm.soldOut}">
      <td colspan="2" style="text-align: right">
        <button class="btn btn-outline-warning">판매완료</button>
      </td>
      <td th:if="${user.getUid()==writer}" colspan="2">
        <form action="/sellCancel" method="post">
          <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
          <input type="hidden" name="soldOut" value="false"/>
          <button class="btn btn-outline-warning" type="submit" id="btnSellCancel">낙찰 취소</button>
        </form>
      </td>
    </tr>-->
    <!--<tr th:if="${user.getUid()==writer} and ${itemForm.soldOut==false}">
      <td colspan="4" style="text-align: right">
        <form action="/sell" method="post">
          <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
          <input type="hidden" name="soldOut" value="true"/>
          <button class="btn btn-outline-warning" type="submit" id="btnSell">낙찰</button>
        </form>
      </td>
    </tr>-->
    <!--<tr th:if="!${user.getUid()==writer} and ${itemForm.soldOut==false}">
      <td>
        <form action="/bidding" method="post">
          <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
          <input type="hidden" name="uid" th:value="${user.uid}"/>
          <input type="text" name="biddingPrice" id="biddingPrice" placeholder="제안할 가격"/>
          <button class="btn btn-outline-warning" type="submit" id="btnBidding">제시</button>
        </form>
        <button class="btn btn-outline-warning" onclick="return chatPopup();">판매자와 대화하기</button>
      </td>
    </tr>-->
    <tr>
      <td> 상세설명 </td>
      <td colspan="3">
        <div style="white-space:pre;"  th:text="${itemForm.content}">
        </div>
      </td>
    </tr>
    <tr>
      <td> 상품사진 </td>
      <td colspan="3" >
        <div  th:each="file : ${filesList}">
          <img th:src="@{'/images/'}+${file.fileName}" style="width: 300px; height:auto;">
        </div>
      </td>
    </tr>
  </table>

  <div class="divBottom">
    <div class="divBottom_right">
    <span th:if="${itemForm.isDeleted()}">
        <div th:unless="${user.getUid()==writer}">
            <form action="/items/report" method="post">
              <input type="hidden" name="itemNo" th:value="${itemForm.item_no}"/>
              <button class="btn btn-outline-warning" type="submit" id="btnReport">신고</button>
            </form>
        </div>
      </span>

    <!-- 수정/삭제 -->
    <div th:if="${user.getUid()==writer}">
      <a th:href="@{'/items/edit/' + ${itemForm.item_no}}">
        <button class="btn btn-outline-warning">수정</button>
      </a>

      <!--삭제 버튼 form에서 hidden의 delete 인식하지 못해서 잠시 지웠음-->
      <form id="delete-form" th:action="@{'/items/' + ${itemForm.item_no}}" method="post">
      <!--<input type="hidden" name="_method" value="delete" />-->
        <button class="btn btn-outline-warning" id="delete-btn">삭제</button>
      </form>
    </div>
    </div>

    <div>
      <a th:href="@{'/items/'}">
        <button class="btn btn-outline-warning">뒤로가기</button>
      </a>
    </div>
  </div>

</div>

<script>
  $(document).ready(function () {
    var deadline1 = document.getElementById("deadline_data");
    var deadline = deadline1.getAttribute("align");


    setInterval(function (){

      var end = new Date(deadline);
      end.setHours(0);
      var now = new Date();
      var distance = end - now;

      var _second = 1000;
      var _minute = _second * 60;
      var _hour = _minute * 60;
      var _day = _hour * 24;

      if (distance < 0) {
        clearInterval();
        document.getElementById("contentArea").innerHTML = '마감되었습니다.';
        return;
      }

      var days = Math.floor(distance / _day);
      var hours = Math.floor((distance % _day) / _hour);
      var minutes = Math.floor((distance % _hour) / _minute);
      var seconds = Math.floor((distance % _minute) / _second);

      document.getElementById("contentArea").innerHTML = days + '일 ' + hours + '시간 ' + minutes + '분 ' + seconds + '초';

    },1000);
  })
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>