<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  /*$(document).ready(function (){
    $('a#title').on('click', function (){
      var report = $('input#report').val();
      if(report>=2){
        alert('숨김처리된 게시글입니다.');
        history.back();
        return false;
      }
    });
  });*/

  function report(reportNum){
    if(reportNum >= 2){
      alert('숨김처리된 게시글입니다.');
      history.back();
      return false;
    }
  }
</script>
<body>



<div class="category">
  <button value="digital"><a th:href="@{/items}">전체</a></button>
  <button type="button" value="digital" id="digital">디지털 기기</button>
  <button type="button" value="appliance" id="appliance">가전 제품</button>
  <button type="button" value="clothing" id="clothing">의류</button>
  <button type="button" value="book" id="book">도서</button>
  <button type="button" value="etc" id="etc">기타 물품</button>
</div>

<div class="container">

  <table>
    <thead>
    <tr>
      <th>item list</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
      <td th:text="${item.item_no}"></td>
      <td th:if="${item.fileName}">
          <img th:src="@{'/images/'}+${item.fileName}" style="width: 50px; height:50px;">
      </td>
      <td th:unless="${item.fileName}">
        <img th:src="@{'/images/noImage.jpg'}" style="width: 50px; height:50px;">
      </td>
      <td>
        <a th:href="@{'/userItemHistory/' + ${item.writer}}">
          <span th:text="${item.writer}"> </span>
        </a>
      </td>
      <td>
        <a id="title" th:href="@{'/items/'+${item.item_no}}" th:onclick="|javascript:report('${item.report}')|" >
         <div th:if="${item.soldOut}">
            <span th:text="${item.title}"></span>[판매완료]
          </div>
          <div th:unless="${item.soldOut}">
            <span th:text="${item.title}"></span>
          </div>
          <!--<input type="hidden" id="report" th:value="${item.report}"/>  &lt;!&ndash;첫번째거만 들어감&ndash;&gt;-->
        </a>
        <!--<td th:text="${item.title}" th:href="@{'/items/'+${item.item_no}}">-->
      </td>
      <!--<td><textarea th:text="${item.category}"></textarea></td>-->
      <td th:text="${item.deadline}"></td>
      <td th:text="${item.starting_bid}"></td>
      <td th:text="${item.reg_date}"></td>

    </tr>
    </tbody>
  </table>

  <div th:if="${searchMode!=true}">
    <span th:each="pageNum : ${pageList}" th:inline="text">
      <a th:href="@{'/items/?page='+${pageNum}}">[[${pageNum}]]</a>
    </span>
  </div>
  <div th:if="${searchMode==true}">
    <span th:each="pageNum : ${pageList}" th:inline="text">
      <a th:href="@{'/items/search/?page='+${pageNum}+'&keyword='+${keyword}+'&search_category='+${category}}">[[${pageNum}]]</a>
    </span>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/app/item.js"></script>
</body>
</html>