<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2> 상품 등록 </h2>
<div class="container">
  <form action="/items/new" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <!--
                  <input type="text" id="writer" name="writer" placeholder="writer"><br>
      -->
      <input type="file" id="files" name="files" multiple="multiple"/><br>
      <input type="text" id="title" name="title" placeholder="상품명"/><br>
      <input type="text" id="starting_bid" name="starting_bid" placeholder="시작가"/><br>
      <input type="text" id="deadline" name="deadline" placeholder="경매기한"/><br>
      <textarea id="content" name="content" placeholder="상품 설명"></textarea>
      <br>
    </div>
    <button type="submit">save</button>
    <!--
            <button type="button" th:onclick="'location.href=\''+@{${/items}}+'\''">이전으로</button>
    -->
  </form>
</div> <!-- /container -->
</body>
</html>