
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  var fileNoArr = new Array();
  function delImg(fno){
    fileNoArr.push(fno);
    $('#btnDelFile').closest('div').remove();
    $('#delFno').attr("value", fileNoArr);
  }
</script>
<body>
<h2> 수정 페이지 </h2>
<form th:action="@{'/items/edit/' + ${itemForm.item_no}}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="put"/>
 <!-- <input type="hidden" name="item_no" th:value="${itemForm.item_no}"/>-->
  <input type="hidden" id="delFno" name="delFno" value=""> <!--삭제를 위해 x버튼 누른 사진들의 fno 넘김-->
  <div th:each="file : ${files}">
    <div>
      <input type="hidden" id="fno" name="fno" th:value="${file.fno}">
      <input type="hidden" id="fileName" name="fileName" th:value="${file.fileName}">
      <a id="fileOriName" th:text="${file.fileOriName}"></a>
      <button type="button" id="btnDelFile" th:onclick="|javascript:delImg(${file.fno})|">x</button><br>
    </div>
  </div>
  <input type="file" name="files" multiple="multiple"><br><br>
  제목 : <input type="text" name="title" th:value="${itemForm.title}"> <br>
  작성자 : <input type="text" name="writer" th:value="${itemForm.writer}"> <br>
  시작가 : <input type="number" name="starting_bid" th:value="${itemForm.starting_bid}"> <br>
  마감기한 : <input type="date" name="deadline" th:value="${itemForm.deadline}"> <br>
  <select name="category">
    <option value="digital">디지털 기기</option>
    <option value="appliance">가전 제품</option>
    <option value="book">도서</option>
    <option value="clothing">의류</option>
    <option value="etc">기타 물품</option>
  </select>
  <textarea name="content" th:text="${itemForm.content}"></textarea><br>

  <input type="submit" value="수정">
</form>

</body>
</html>