<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header.html :: fragment-header"></div>

<nav class="navbar navbar-expand-sm navbar-dark bg-warning" th:fragment="fragment-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <a href="/"><img th:src="@{'/images/aucsusu.png'}" style="width: 50px; height:50px;"/></a>
            <li class="nav-item">
                <a class="nav-link" href="/items">전체 상품</a>
            </li>
            <li>
                <a class="nav-link"th:href="@{/items/new}">상품 등록</a>
            </li>
            <li id="dropdown">
                <a class="nav-link">마이페이지</a>
                <div id="dropdown-content">
                    <a class="nav-link" href="/myItemHistory">등록 내역</a>
                    <a class="nav-link" href="/biddingHistory">입찰 내역</a>
                    <a class="nav-link" href="/userInfo">내 정보</a>
                </div>
            </li>
            <li>
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
            <li>
                <a class="nav-link" href="/chat/myChat">채팅</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0" action="/items/search" method="GET">
            <select name="search_category">
                <option value="writer">글쓴이</option>
                <option value="title">제목</option>
            </select>
            <input name="keyword" class="form-control" type="text" placeholder="상품 검색">
            <button class="btn btn-warning">검색하기</button>
        </form>
    </div>
</nav>


<script>
    function login(){
      location.href="/login";
    }
    function logout(){
      location.href="/logout";
    }
    function home(){
        location.href="/";
    }

  </script>
</html>