{{>layout/login_layout}}
<style>
    #title{
        cursor:pointer;
    }
    #signupBtn{
        margin-top : 15px;
        margin-bottom : 15px;
    }
</style>
<script>
		function signup(){
			location.href="/login/signupForm";
		}
		function home(){
		    location.href="/";
	    }

</script>
<head>
    <title>로그인 페이지</title>
</head>

<body>
<form class="form-signin" name="form" id="form" role="form" method="post" action="/login/user">
    <div>
        <h2 id="title" onclick="return home();">HELLO WORLD</h2>
    </div>

    <div class="form-label-group">
        <label for="uid" class="sr-only">User ID</label>
        <input type="text" id="uid" name="uid" class="form-control" placeholder="User ID" required autofocus/>
        <!--<form:input path="uid" id="uid" name="uid" class="form-control" placeholder="User ID" required="" autofocus=""/>-->
    </div>

    <div class="form-label-group">
        <label for="password" class="sr-only">User Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="User Password" required />
        <!--<form:password path="password" id="password" class="form-control" placeholder="User Password" required="" />-->
    </div>

    <!--<div id="remember"><form:checkbox path="rememberID"/>아이디 기억하기</div>-->

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="return signup();">JOIN</button>
    <!--<span id="signupBtn" style="font-size: 11pt;">
		<a href="#" onClick="fn_btnSignupClick()">Join as</a>
	</span>-->

    <br>
    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a><br>
    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>

</form>
</body>

