{{>layout/login_layout}}
<style>
    #title{
        cursor:pointer;
    }
    #signupBtn{
        margin-top : 15px;
        margin-bottom : 15px;
    }
</style>
<script>
		function signup(){
			location.href="/login/signupForm";
		}
		function home(){
		    location.href="/";
	    }

</script>
<head>
    <title>로그인 페이지</title>
</head>

<body>
<form class="form-signin" name="form" id="form" role="form" method="post" action="/login/user">
    <div>
        <h2 id="title" onclick="return home();">HELLO WORLD</h2>
    </div>

    <div class="form-label-group">
        <label for="uid" class="sr-only">User ID</label>
        <input type="text" id="uid" name="uid" class="form-control" placeholder="User ID" required autofocus/>
        <!--<form:input path="uid" id="uid" name="uid" class="form-control" placeholder="User ID" required="" autofocus=""/>-->
    </div>

    <div class="form-label-group">
        <label for="password" class="sr-only">User Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="User Password" required />
        <!--<form:password path="password" id="password" class="form-control" placeholder="User Password" required="" />-->
    </div>

    <!--<div id="remember"><form:checkbox path="rememberID"/>아이디 기억하기</div>-->

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="return signup();">JOIN</button>

    {{#error}}
        <p style="color:red; align:center;">로그인 에러</p>
        <p style="color:red; align:center;">아이디와 비밀번호를 다시 입력해주세요</p>
    {{/error}}

    <br>

</form>
</body>

