{{>layout/header}}
{{>category}}
<style>
    	#dropdown-content{
		display: none;
  		position: absolute;
  		background-color: #f1f1f1;
  		min-width: 160px;
  		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  		z-index: 1;
	}

	#dropdown-content a {
  		color: black;
 	 	padding: 12px 16px;
  		text-decoration: none;
  		display: block;
	}

	#dropdown-content a:hover {background-color: #ddd;}

	#dropdown:hover #dropdown-content {display: block;}

	#dropdown:hover #dropbtn {background-color: #3e8e41;}
</style>
<div id="block">


        <!--목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>User ID</th>
                <th>이름</th>
                <th>EMAIL</th>
                <th>생년월일</th>
                <th>가입날짜</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#userList}}

                <tr>
                    <td>{{uid}}</td>
                    <td id="dropdown">{{name}}
                        <div id="dropdown-content">
                            <a class="nav-link" href="/message/writeMsg/{{uid}}">쪽지쓰기</a>
                            <!--<a class="nav-link" href="<c:url value="/board/getOtherList"><c:param name="uname" value="${list.uid}"></c:param></c:url>
                            ">게시글 보기</a>-->
                        </div>
                    </td>
                    <td>{{email}}</td>
                    <td>{{birth}}</td>
                    <td>{{reg_date}}</td>
                </tr>
            {{/userList}}
            {{^userList}}
                <tr>
                    <td colspan="5">데이터가 없습니다</td>
                </tr>
            {{/userList}}
            </tbody>
        </table>
    </div>
</div>

{{>layout/footer}}